/* ******** Custom Properties ******** */
:root {
  --primary-color: #501464;
  --primary-alpha-color: rgba(80, 20, 100, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #ff2588;
  --third-alpha-color: rgba(255, 37, 136, 0.75);
  --white-color: #ffffff;
  --gray-light-color: #f3f3f3;
  --gray-color: #cccccc;
  --gray-dark-color: #666666;
  --black-color: #000000;
  --link-color: #509ee3;
  --title-color: #333333;
  --text-color: #222222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Nunito", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* ******** Reset ******** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}
a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ************* Components ************* */
/* ******** HeroImage ******** */
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);  
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-content {
  text-align: center;
  color: var(--white-color);
}

.hero-image-content img {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}

.hero-image-title {
  /* font-size: 6vw; */
  margin-bottom: .5rem;
}

.hero-image-subtitle {
  /* font-size: 4vw; */
  margin-bottom: 2rem;
}


/* ******** Menu ******** */
.menu-btn {
  outline: thin solid var(--primary-color);
  border: 0;
  cursor: pointer;
  background-color: var(--gray-color);
}

.menu-btn svg {
  fill: var(--primary-color)
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.75s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.only-mobile {
  display: block;
}

.only-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .only-mobile {
    display: none;
  }
  
  .only-desktop {
    display: block;
  }
}

/* ******** Modal ******** */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: red;
}

.modal[id|="proyecto"]:target {
  opacity: 1;
  pointer-events: auto;

}

/* ******** Progress Bar ******** */
progress {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
  background-color: var(--gray-color);
}

/* progress::-webkit-progress-value {
  background-color: var(--gray-dark-color);
}

progress::-moz-progress-value {
  background-color: var(--gray-dark-color);
}*/

.progress {
  margin: 1rem auto;
}

.progress > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}


/* ******** Utilities ******** */
.bg-gray-ligth {
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: .5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--third-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.section {
  padding: 2rem 2rem;
}

.section-title {
  border-top: thin solid var(--third-color);
  border-bottom: thin solid var(--third-color);
  margin: 2rem auto;
  padding: 0.5rem;
  text-align: center;
  width: 250px;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  
}

/* ******** Site Styles ******** */
.contact-card {
  width: 100%;
  height: 144px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > svg {
  width: 2rem;
  height: 2rem;  
}

.contact-card > small {
  margin-top: -1rem;
}

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--gray-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.portfolio {
  padding-top: 2rem;
}

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--primary-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-modal {
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

.portfolio-modal h3 {
  border-bottom: medium solid var(--third-color);
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--title-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-auto-rows: 2rem;
}

.portfolio-details b {
  color: var(--third-color);
}

.soft-skills {
  text-align: center;
  padding-top: 2rem;
}

.soft-skills > div {
  margin-bottom: 1.5rem;
}

.soft-skills svg {
  width: 3.75rem;
  height: auto;
}

/* .tech-skills {
  margin-bottom: 3rem;
} */

@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .contact-card {
    width: 350px;
    height: 250px;
  }

  .contact-card > svg {
    width: 3rem;
    height: 3rem;  
  }

  .contact-card > h5 {
    font-size: 1.5rem;
  }
  
  .contact-card > small {
    font-size: 1.2rem;
    margin-top: -2.5rem;
  }

  .hero-image-content img {
    width: 85%;
    height: auto;
    margin-bottom: 3rem;
  }

  .hero-image-content .section-title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .hero-image-content p {
    font-size: 1.6rem;
    padding: 0 5rem;
    margin-bottom: 4rem;
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio .section-title {
    grid-column: span 2;
  }

  .portfolio-info {
    margin-left: 1rem;
    align-self: center;
  }

/*   .portfolio-modal {
    max-width: 800px;
    flex-direction: row;
  } */

  .progress {
    margin: 1.5rem auto;
  }

  .progress > p {
    font-size: 1.5rem;
  }

  .skills {
    padding: 2rem 5rem;
    text-align: center;
  }
  
  .soft-skills > div {
    margin-bottom: 2rem;
  }
  
  .soft-skills svg {
    width: 5rem;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .contact-card {
    width: 500px;
    height: 250px;
  }

  .contact-card > svg {
    width: 3rem;
    height: 3rem;  
  }

  .contact-card > h5 {
    font-size: 1.5rem;
  }
  
  .contact-card > small {
    font-size: 1.2rem;
    margin-top: -2.5rem;
  }

  .footer {
    margin-bottom: 0;
  }

  .header {
    position: sticky;
    top:  0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .portfolio > .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio .section-title {
    grid-column: span 3;
  }

  .portfolio-modal {
    max-width: 800px;
    flex-direction: row;
  }
  
  .progress {
    margin: 1rem auto;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-around;
    align-content: center;
  }

  .soft-skills {
    text-align: center;
    padding-top: 0;
  }

  .soft-skills > div {
    margin-bottom: 4.8rem;
  }
}
